{% extends 'portfolio/base.html' %}

{% block title %}My Portfolio{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
{% endblock extra_css %}
 
{% block content %}
    <div class="header-container" style="display: flex; justify-content: space-between; align-items: center;">
        <div style="flex: 1; text-align: center;">
            <h1 class="mt-2">Welcome to My Portfolio</h1>
        </div>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" style="background-color: #ff4d4d; color: white; border: none; padding: 8px 16px; margin-right: 124px; border-radius: 4px; cursor: pointer;">
                Logout
            </button>
        </form>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <table class="table mt-5 table-bordered table-striped table-hover">
                    <thead class="text-center align-middle">
                        <tr>
                            <th class="fw-semibold" rowspan="2">Stock Name</th>
                            <th class="fw-semibold" rowspan="2">Current Price</th>
                            <th class="fw-semibold" rowspan="2">Quantity</th>
                            <th class="fw-semibold" rowspan="2">Acquisition Price</th>
                            <th class="fw-semibold">Investment Cost</th>
                            <th class="fw-semibold">Investment Value</th>
                            <th class="fw-semibold">Unrealized Gain</th>
                            <th class="fw-semibold" rowspan="2">Realized Profit/Loss</th>
                            <th class="fw-semibold" rowspan="2">Transaction</th>
                        </tr>
                        <tr>
                            <th class="fw-semibold">Weight(%)</th>
                            <th class="fw-semibold">Weight(%)</th>
                            <th class="fw-semibold">Change(%)</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for stock in portfolio %}
                        <tr class="text-end">
                            <td class="text-start">{{stock.stock.stockName}}</td>
                            <td>{{stock.stock.price}}</td>
                            <td class="text-center">{{stock.runningQtyAfter}}</td>
                            <td>{{ stock.avgBuyPrice|floatformat:2 }}</td>
                            <td>{{ stock.investmentCost|floatformat:2 }}</td>
                            <td>{{ stock.investmentValue|floatformat:2 }}</td>
                            <td class="{% if stock.unrealizedProfit > 0 %} text-success {% else %} text-danger {% endif %}">
                                {{ stock.unrealizedProfit|floatformat:2 }}
                            </td>  
                            <td class="{% if stock.realizedProfit > 0 %} text-success {% else %} text-danger {% endif %}">
                                {{ stock.realizedProfit|floatformat:2 }}
                            </td>
                            <td class="text-center">
                                <a class="btn btn-success btn-sm" href="{% url 'portfolio:add_trade' %}"><i class="bi bi-plus-lg"></i></a>
                                <button class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i></button>
                                <form action="{% url 'portfolio:delete_stock' stock.stock.stockId %}" method="POST" onsubmit="return confirm('Are you sure you want to delete this stock?');" style="display: inline;">
                                    {% csrf_token %}
                                    <button class="btn btn-danger btn-sm">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}