{% extends 'portfolio/base.html' %}

{% block title %}My Portfolio{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
{% endblock extra_css %}

{% block header %}
    <div class="d-flex flex-wrap gap-3">
        <p class="m-0 px-3 py-2 bg-white rounded shadow-sm fw-semibold text-dark">
            Invested Value: <span class="mx-1 fw-bold text-success">₹1,24,000</span>
        </p>
        <p class="m-0 px-3 py-2 bg-white rounded shadow-sm fw-semibold text-dark">
            Current Value: <span class="mx-1 fw-bold text-success">₹1,24,000</span>
        </p>
        <p class="m-0 px-3 py-2 bg-white rounded shadow-sm fw-semibold text-dark">
            Total P&L: <span class="mx-1 fw-bold text-danger">-₹1,200 (-0.96%)</span>
        </p>
    </div>
{% endblock header %}
 
{% block content %}
    <div class="container-fluid px-5">
        <table class="table table-responsive table-dark table-bordered border-secondary table-hover mt-5">
            <thead class="align-middle table-light">
                <tr>
                    <th class="fs-5 fw-semibold" rowspan="2">Stock</th>
                    <th class="fs-5 fw-semibold" rowspan="2">Current Price</th>
                    <th class="fs-5 fw-semibold" rowspan="2">Quantity</th>
                    <th class="fs-5 fw-semibold" rowspan="2">Avg. Buy Price</th>
                    <th class="fs-5 fw-semibold">Invested Value</th>
                    <th class="fs-5 fw-semibold">Total Value</th>
                    <th class="fs-5 fw-semibold">Unrealized Gain</th>
                    <th class="fs-5 fw-semibold" rowspan="2">Realized P&L</th>
                    <th class="fs-5 fw-semibold" rowspan="2">Transaction</th>
                </tr>
                <tr>
                    <th class="fs-5 fw-normal">Weight %</th>
                    <th class="fs-5 fw-normal">Weight %</th>
                    <th class="fs-5 fw-normal">Change %</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for pf_record in portfolio %}
                <tr class="text-start fw-semibold">
                    <td>{{ pf_record.stock.script_code }}</td>
                    <td>{{ pf_record.stock.price }}</td>
                    <td>{{ pf_record.holding_qty }}</td>
                    <td>{{ pf_record.avg_price|floatformat:2 }}</td>
                    <td>{{ pf_record.investment_cost|floatformat:2 }}</td>
                    <td>{{ pf_record.investment_value|floatformat:2 }}</td>
                    <td class="{% if pf_record.unrealized_profit >= 0 %} text-success {% else %} text-danger {% endif %}">
                        {{ pf_record.unrealized_profit|floatformat:2 }}
                    </td>  
                    <td class="{% if pf_record.realized_profit >= 0 %} text-success {% else %} text-danger {% endif %}">
                        {{ pf_record.realized_profit|floatformat:2 }}
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm" href="{% url 'portfolio:add_trade' %}"><i class="bi bi-plus-lg"></i></a>
                        <a class="btn btn-warning btn-sm" href="{% url 'portfolio:transactions' pf_record.stock_id %}"><i class="bi bi-pencil"></i></a>
                        <form action="{% url 'portfolio:delete_stock' pf_record.stock_id %}" method="POST" onsubmit="return confirm('Are you sure you want to delete this stock?');" style="display: inline;">
                            {% csrf_token %}
                            <button class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}